* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

body {
    background-color: rgb(209, 185, 163);
}

form {
    padding: 50px;
    margin: 100px;
    border: outset;
    background-color: rgb(252, 240, 227);
}

.l-align {
    text-align: left;
}

.f-bold {
    font-weight: bold;
}
